<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="webthemez">
    <title>Motor Car Wash Repair</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/font-awesome.css" rel="stylesheet">
    <link href="../static/animate.min.css" rel="stylesheet"> 
    <link href="../static/prettyPhoto.css" rel="stylesheet">
    <link href="../static/styles.css" rel="stylesheet"> 
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->        
</head> 

<body id="home">

    <header id="header">
        <nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="../static/logobn.png" width="100" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right"></div>
                    <ul class="nav navbar-nav">
                        <li class="scroll active"><a href="home">Home</a></li> 
                        <li class="scroll"><a href="service">Service</a></li>
                        <li class="scroll"><a href="about">About</a></li>
                        <li class="scroll"><a href="appointment">Appointment</a></li>
                        <li class="scroll"><a href="pricing">Pricing</a></li>
                        <li class="scroll"><a href="contact">Contact</a></li>                       
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->
        <br>
        <section>
            <article>
                <h1>About Us </h1>
            </article>
            <article>
                <p>Wheels On Road aims to be the best of both worlds - Reliable and Cost-effective Car Services</p>
            </article>
            <article>
                <p>Car Servicing, Car repairs and Car cleaning - we are your one-stop solution for all things cars.</p>
            </article>
            <article>
                <p>A brainchild of 4 friends - Rahul Lkhar, Akash Balsingh, Ritwik Mazumdar and Sahil Hadke, Wheels On Road is a network of technology-enabled car service centres, offering a seamless car service experience at the convenience of a tap. With our highly skilled technicians, manufacturer recommended procedures and the promise of genuine spare parts we are your best bet.</p>
            </article>
            <article>
                <p>Stay in the comforts of your home or office and make the most of our complimentary pick-up and drop-in service. Count on us to be your personal car care expert, advisor and car mechanic.</p>
            </article>
        </section>
        <a class="navbar-brand" href="index.html"><img src="../static/logowe.png" width="500" height="400" alt="logo"></a>

</body>
</html>