<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="webthemez">
    <title>Motor Car Wash Repair</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/font-awesome.css" rel="stylesheet">
    <link href="../static/animate.min.css" rel="stylesheet"> 
    <link href="../static/prettyPhoto.css" rel="stylesheet">
    <link href="../static/styles.css" rel="stylesheet"> 
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->        
</head> 

<body id="home">

    <header id="header">
        <nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="../static/logobn.png" width="100" alt="logo"></a>
                </div>

				<div class="collapse navbar-collapse navbar-right"></div>
                    <ul class="nav navbar-nav">
                        <li class="scroll active"><a href="home">Home</a></li> 
                        <li class="scroll"><a href="service">Service<!--  --></a></li>
                        <li class="scroll"><a href="about">About</a></li>
                        <li class="scroll"><a href="appointment">Appointment</a></li>
                        <li class="scroll"><a href="pricing">Pricing</a></li>
                        <li class="scroll"><a href="contact">Contact</a></li>                       
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->
        <!-- Loader -->
		<div id="page-preloader"><span class="spinner"></span></div>
		<!-- Loader end -->
		
		<?php include("header.php");?>
        <!--b-topBar-->


		<section class="b-pageHeader">
			<div class="container">
				<h1 class=" wow zoomInLeft" data-wow-delay="0.5s">Contact</h1>
				<div class="b-pageHeader__search wow zoomInRight" data-wow-delay="0.5s">
					<h3>Get In Touch With Us Now</h3>
				</div>
			</div>
		</section><!--b-pageHeader-->

		<div class="b-breadCumbs s-shadow wow zoomInUp" data-wow-delay="0.5s">
			<div class="container">
				<h3>Contact US :-8237059044</h3>
                
			</div>
		</div><!--b-breadCumbs-->

		<!--b-map-->

		<section class="b-contacts s-shadow">
			<div class="container">
				<div class="row">
					<div class="col-xs-6">
						<div class="b-contacts__form">
							
							<div id="success"></div>
							<div class="b-contacts__address-info">
								<h2 class="s-titleDet wow zoomInUp" data-wow-delay="0.5s">opening hours</h2>
								<address class="b-contacts__address-info-main wow zoomInUp" data-wow-delay="0.5s">
									<div class="b-contacts__address-info-main-item">
										<span class="fa fa-home"></span>
										ADDRESS
										<p>Ambegaon BK,Near Sai Mystic,Rohan Palace-411046</p>
									</div>
									<div class="b-contacts__address-info-main-item">
										<div class="row">
											<div class="col-lg-3 col-md-4 col-xs-12">
												<span class="fa fa-phone"></span>
												OFFICE PHONE
											</div>
											<div class="col-lg-9 col-md-8 col-xs-12">
												<em>+91-98-27-61-555</em>
											</div>
										</div>
									</div>
									
									<div class="b-contacts__address-info-main-item">
										<div class="row">
											<div class="col-lg-3 col-md-4 col-xs-12">
												<span class="fa fa-envelope"></span>
												EMAIL
											</div>
											<div class="col-lg-9 col-md-8 col-xs-12">
												<em>wheelsonroad34@gmail.com</em>
											</div>
										</div>
									</div>
								</address>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="b-contacts__address">
							<div class="b-contacts__address-hours">
								<h2 class="s-titleDet wow zoomInUp" data-wow-delay="0.5s">opening hours</h2>
								<div class="b-contacts__address-hours-main wow zoomInUp" data-wow-delay="0.5s">
									<div class="row">
										<div class="col-md-6 col-xs-12">
											<h5>Sales Department</h5>
											<p>Mon-Sat : 11:00am - 9:00pm <br/>Sunday closed</p>
										</div>
										<div class="col-md-6 col-xs-12">
											<h5>Service Department</h5>
											<p>Mon-Sat : 12:00pm - 5:00pm <br/>Sunday closed</p>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</section>
</body>
</html>