<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="webthemez">
    <title>Motor Car Repair</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/font-awesome.css" rel="stylesheet">
    <link href="../static/animate.min.css" rel="stylesheet"> 
    <link href="../static/prettyPhoto.css" rel="stylesheet">
    <link href="../static/styles.css" rel="stylesheet"> 
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->        
</head> 
</head>
<body>
    <article>
        <h1> Please Fill Your Invoice</h1><br>
    </article>
    <body id="home">

        <header id="header">
            <nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <img src="../static/logobn.png" width="100" alt="logo"></a>
                    </div>
    
                    <div class="collapse navbar-collapse navbar-right"></div>
                        <ul class="nav navbar-nav">
                            <li class="scroll active"><a href="home">Home</a></li> 
                            <li class="scroll"><a href="service">Service</a></li>
                            <li class="scroll"><a href="about">About</a></li>
                            <li class="scroll"><a href="appointment">Appointment</a></li>
                            <li class="scroll"><a href="pricing">Pricing</a></li>
                            <li class="scroll"><a href="contact">Contact</a></li>
                            <li class="scroll"><a href="search">Search User</a></li>                        
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section>
            <main>
            <div class="col-md-6">
                <form method="POST" action="{{url_for('update')}}">
                <label for="ui" class="form-label">id</label>
                <input type="number" class="form-control" id="id" name="id" value='{{row[0]}}'>
                </div>
                <div class="col-md-6">
                <label for="ne" class="form-label">First_Name</label>
                <input type="text" class="form-control" id="fname" name="fname" value='{{row[1]}}'>
                </div>
                <div class="col-md-6">
                <label for="ln" class="form-label">Last_Name</label>
                <input type="text" class="form-control" id="lname" name="lname" value='{{row[2]}}'> 
                </div>
                <div class="col-md-6">
                <label for="co" class="form-label">Contact_no</label>
                <input type="number" class="form-control" id="contact" name="contact" value='{{row[3]}}'>
                </div>
                <div class="col-md-6">
                <label for="el" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" name="email" value='{{row[4]}}'>
                </div>
                <div class="col-md-6">
                <label for="cn" class="form-label">Car_number</label>
                <input type="text" class="form-control" id="carnum" name="carnum" value='{{row[5]}}'>
                </div>
                <div class="col-md-6">
                <label for="km" class="form-label">Km_Run</label>
                <input type="text" class="form-control" id="km" name="km" value='{{row[6]}}'>
                </div>
                <div class="col-md-6">
                <label for="cr" class="form-label">Car_name</label>
                <input type="text" class="form-control" id="carname" name="carname" value='{{row[7]}}'>
                </div>
                <div class="col-md-6">
                <label for="at" class="form-label">Arrived_time</label>
                <input type="text" class="form-control" id="atime" name="atime" value='{{row[8]}}'>
                </div>
                <div class="col-md-6">
                <label for="dt" class="form-label">Delivery_time</label><br>
                <input type="text" class="form-control" id="dtime" name="dtime" value='{{row[9]}}'>
                </div>
                <div class="col-md-6">
                <label for="ta" class="form-label">Total_amount</label>
                <input type="text" class="form-control" id="total" name="total" value='{{row[10]}}'>
                </div>
                <div class="col-md-6"><br>
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
        </section>
        <section id="pageContent">
            <main role="main">
                <article>
                    <div><br>
                        <h1>THANK YOU</h1><br>
                        <h2>VISIT AGAIN!!!!</h2><br>
                    </div>
                </article>
                <head>
                    <style>
                    table,th,td {
                        border:1px solid black;
                    }
                    </style>
                </head>
            
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">id</th>
                        <th scope="col">First_Name</th>
                        <th scope="col">Last</th>
                        <th scope="col">Contact_no</th>
                        <th scope="col">Email</th>
                        <th scope="col">Car_number</th>
                        <th scope="col">Km_Run</th>
                        <th scope="col">Car_name</th>
                        <th scope="col">Arrived_time</th>
                        <th scope="col">Delivery_time</th>
                        <th scope="col">Total_amount</th>
                        
                        <th colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                            <tr>
                                <td>{{row[0]}}</td>
                                <td>{{row[1]}}</td>
                                <td>{{row[2]}}</td>
                                <td>{{row[3]}}</td>
                                <td>{{row[4]}}</td>
                                <td>{{row[5]}}</td>
                                <td>{{row[6]}}</td>
                                <td>{{row[7]}}</td>
                                <td>{{row[8]}}</td>
                                <td>{{row[9]}}</td>
                                <td>{{row[10]}}</td>
                                <td><a href="{{url_for('edit',id=row[0])}}">Edit</a></td>
                                <td><a href="{{url_for('delete',id=row[0])}}">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
        </main>
</body>
</html>