<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="webthemez">
    <title>Motor Car Wash Repair</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/font-awesome.css" rel="stylesheet">
    <link href="../static/animate.min.css" rel="stylesheet"> 
    <link href="../static/prettyPhoto.css" rel="stylesheet">
    <link href="../static/styles.css" rel="stylesheet"> 
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->        
</head> 

<body id="home">

    <header id="header">
        <nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="../static/logobn.png" width="100" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right"></div>
                    <ul class="nav navbar-nav">
                        <li class="scroll active"><a href="home">Home</a></li> 
                        <li class="scroll"><a href="service">Service</a></li>
                        <li class="scroll"><a href="about">About</a></li>
                        <li class="scroll"><a href="appointment">Appointment</a></li>
                        <li class="scroll"><a href="pricing">Pricing</a></li>
                        <li class="scroll"><a href="contact">Contact</a></li>                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section id="pricing">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title wow fadeInDown">Pricing</h2>
                <p class="wow fadeInDown">Pricing is the act of determining the value of a product or service.</p>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        Rs 5,000
                                    </span>
                                    <span class="duration">
                                        Car Servicing  
                                    </span>
                                </div>

                                <div class="plan-name">
                                    Basic
                                </div>
                            </li>
                            <li>General check-up</li>
                            <li>Teflon coating</li>
                            <li>Anti-Rust Coating</li>
                            <li>Rubbing & polishing</li>
                            <li>Seat dry-cleaning</li>
                            <li>Interior dry-cleaning</li>
                            <h1>HURRY UP!!!</h1>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="200ms">
                        <ul class="pricing featured">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        Rs 10,000
                                    </span>
                                    <span class="duration">
                                        Car Servicing 
                                    </span>
                                </div>

                                <div class="plan-name">
                                    Standard
                                </div>
                            </li>
                      <li>General check-up</li>
                            <li>Teflon coating</li>
                            <li>Anti-Rust Coating</li>
                            <li>Rubbing & polishing</li>
                            <li>Seat dry-cleaning</li>
                            <li>Interior dry-cleaning</li>
                            <h1>HURRY UP!!!</h1>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="400ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        Rs 15,000
                                    </span>
                                    <span class="duration">
                                        Car Servicing
                                    </span>
                                </div>

                                <div class="plan-name">
                                    Premium
                                </div>
                            </li>
                            <li>General check-up</li>
                            <li>Teflon coating</li>
                            <li>Anti-Rust Coating</li>
                            <li>Rubbing & polishing</li>
                            <li>Seat dry-cleaning</li>
                            <li>Interior dry-cleaning</li>
                            <h1>HURRY UP!!!</h1>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="600ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        Rs 20,000
                                    </span>
                                    <span class="duration">
                                        Car Servecing 
                                    </span>
                                </div>

                                <div class="plan-name">
                                    Extra Premium
                                </div>
                            </li>
                             <li>General check-up</li>
                            <li>Teflon coating</li>
                            <li>Anti-Rust Coating</li>
                            <li>Rubbing & polishing</li>
                            <li>Seat dry-cleaning</li>
                            <li>Interior dry-cleaning</li>
                            <h1>HURRY UP!!!</h1>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>