<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="webthemez">
    <title>Motor Car Wash Repair</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/font-awesome.css" rel="stylesheet">
    <link href="../static/animate.min.css" rel="stylesheet"> 
    <link href="../static/prettyPhoto.css" rel="stylesheet">
    <link href="../static/styles.css" rel="stylesheet"> 
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->        
</head> 

<body id="home">

    <header id="header">
        <nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="../static/logobn.png" width="100" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right"></div>
                    <ul class="nav navbar-nav">
                        <li class="scroll active"><a href="home">Home</a></li> 
                        <li class="scroll"><a href="service">Service</a></li>
                        <li class="scroll"><a href="about">About</a></li>
                        <li class="scroll"><a href="appointment">Appointment</a></li>
                        <li class="scroll"><a href="pricing">Pricing</a></li>
                        <li class="scroll"><a href="contact">Contact</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->
                <br>
                <img src="../static/service.png" class="rounded float-start" width="1000" height="250" alt="...">
         <section>
		    <main>
			        <article>
                            <h1>Our Best Services </h1>
                    </article>
                    <article>
                            <h3>Car Wash</h3>
                            <p>car wash is a place or building where you have a car cleaned. An example of a carwash is the automatic wash machine that you drive your car into near the gas station.</p>
                    </article>
                    <article>
                            <h3>Car Repair</h3>
                            <p>We use the OEM/OES spare parts at all our workshop and we will give a warranty for that spare parts which is more beneficial for customer and we will also exchange the product</p>
                    </article>
                    <article>
                            <h3>Painting</h3>
                            <p>A Paint is essentially a coating or covering material applied on metallic or non-metallic surfaces for decorative or protective purposes. Most commonly they may be a protective as well as decorative finish.</p>
                    </article>
                    <article>
                            <h3>Denting</h3>
                            <p>A depression in a surface made by pressure or a blow: a dent in the side of a car. Informal A significant, usually diminishing effect or... Denting</p>
                    </article>
                    <article>
                            <h3>Free Pick-Up And Drop</h3>
                            <p>If ou do not have much time to visit our service center we have one benefit for customers that is free pick-up and drop jst you have to take online for pick up and Drop which is Available in Pune, On our all Car services</p>
                    </article>
                    <article>
                            <h3>Washing</h3>
                            <p>car wash is a place or building where you have a car cleaned. An example of a carwash is the automatic wash machine that you drive your car into near the gas station.</p>
                    </article>
                    <article>
                            <h3>Polishing</h3>
                            <p>Polishing buffs an abrasive compound onto the car’s paint to remove small layers of clear coat. This makes small scratches and swirls in the paint disappear. </p>
                    </article>
            </main>
         </section>  
                
</body>
</html>